[include]
	path = ~/.dotfiles/local/.gitconfig.local
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	safecrlf = true
[alias]
	graph = log --oneline --abbrev-commit --graph --decorate --color
[merge]
	tool = vimdiff
[init]
	templatedir = ~/.git_template
