alias ls='exa --group-directories-first -l'
alias ll='exa -alF --git --group-directories-first'
alias lt='exa -aT --level=2 ^.git'
alias fd='fdfind'
alias which='whence -p'
alias rm='rm -i'
alias mv='mv -i'
alias bat='batcat'
alias amsm='apt-mark showmanual | diff --unchanged-line-format="" ~/.dependencies/apt-base-manual.txt - | sort'
alias eamsm='amsm > ~/.dependencies/ubuntu-dependencies.txt'
# Opens fzf in preview mode in current directory
alias fzfp='fd --type f --hidden --follow --exclude .git  | fzf --layout reverse --info inline --border --preview "batcat {} --color=always -n --line-range :50 "'
